// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #123a6d;
  --ion-color-primary-rgb: 18, 58, 109;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: #10335f;
  --ion-color-primary-tint: #2a4e7c;
  --ion-color-secondary: #0b8f7b;
  --ion-color-secondary-rgb: 11, 143, 123;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-shade: #0a7e6c;
  --ion-color-secondary-tint: #239b88;
  --ion-color-success: #168553;
  --ion-color-warning: #b87500;
  --ion-color-danger: #b42318;
  --ion-background-color: #f4f7fb;
}
